@import '../scss-variables/colors';
@import '../scss-variables/text';
@import '../scss-mixin/resets';

html {
	font-weight: 100;
	height: 100%;
	-webkit-text-size-adjust: none;

	font-size: $font-base-size;
	font-family: $font-family;
	min-width: 320px;
}

html,
body,
figure,
ul {
	@include padding-margin();
}

ul {
	list-style: none;
}

body {
	color: #fcfcfc;
	background-color: #E0E0E0;
	height: 100%;
	font-size: 1.4rem;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #058CC5;
	text-decoration: none;
	cursor: pointer;
}

h1, h2, h3, h4, h5 {
	margin-top: 0;
}

@import './helpers';