$base: #ffffff;
$text-light: #ffffff;
$text-dark: #515151;
$link-hover: #058CC5;
$not-important-dark: #7b7b7b;
$not-image-text: #38444e;

$app-bg: #1a2127;

$navigation-bg: #F5F6F7;
$navigation-link: $text-dark;
$navigation-active: $link-hover;
$navigation-hover: #c54f05;
$navigation-sub-bg: $app-bg;

$details-bg: #F5F6F7;
$details-upper-bg: #2f2f2f;